.dialog {
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    border: 1px solid #EAEEFA;
    border: 1px solid rgba(234, 238, 250, 0.6);
    box-shadow: 0 0 3px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 3px rgba(0,0,0,0.6);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ie-user-select: none;
    cursor: default;
}

.dialog .dialog-title {
    font-size: 14px;
    font-family: sans-serif, verdana, arial;
    font-weight: bold;
    height: 17px;
    margin: 0;
    padding: 0 17px 0 5px;
    overflow: hidden;
    text-align: center;
}

.dialog .dialog-content {
    padding: 10px 10px 10px 10px;
    font-family: sans-serif, verdana, arial;
    font-size: 13px;
    line-height: 1.3em;
    min-height: 50px;
}

.dialog .dialog-close {
    position: absolute;
    width: 13px;
    height: 13px;
    background-image: url(../images/close.gif);
    right: 2px;
    top: 2px;
    cursor: pointer;
}

.dialog .dialog-close:active {
    position: absolute;
    top: 3px;
}


.dialog .dialog-icon-info {
    background-image: url(../images/info.png);
    background-repeat: no-repeat;
    background-position: 5px 10px;
    padding-left: 68px;
}

.dialog .dialog-icon-help {
    background-image: url(../images/help.png);
    background-repeat: no-repeat;
    background-position: 5px 10px;
    padding-left: 68px;
}

.dialog .dialog-icon-warning {
    background-image: url(../images/warning.png);
    background-repeat: no-repeat;
    background-position: 5px 10px;
    padding-left: 68px;
}

.dialog .dialog-icon-error {
    background-image: url(../images/error.png);
    background-repeat: no-repeat;
    background-position: 5px 10px;
    padding-left: 68px;
}

.dialog .dialog-buttons {
    height: 32px;
    margin: 0;
    padding: 10px;
    background-color: #EFEFEF;
    border-top: 1px solid #CCCCCC;
    text-align: right;
}

.dialog .dialog-buttons input {
    display: inline-block;
    margin-left: 5px;
    padding: 6px;
    width: 80px;
    background-color: #EDEDED;
    background: -moz-linear-gradient(top, #EDEDED 5%, #DFDFDF 100%);
    background: -webkit-linear-gradient(top, #EDEDED 5%, #DFDFDF 100%);
    background: -ms-linear-gradient(top, #EDEDED 5%, #DFDFDF 100%);
    background: linear-gradient(to bottom, #EDEDED 5%, #DFDFDF 100%);
    border: 1px solid #CCCCCC;
    box-shadow: inset 0px 1px 0px 0px #FFFFFF;
    -webkit-box-shadow: inset 0px 1px 0px 0px #FFFFFF;
    -moz-box-shadow: inset 0px 1px 0px 0px #FFFFFF;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    color: #777777;
    font-family: sans-serif, verdana, arial;
    font-size: 13px;
    font-weight: bold;
    text-shadow: 0px 1px 0px #FFFFFF;
    cursor: pointer;
}

.dialog .dialog-buttons input:hover {
    background: -moz-linear-gradient(top, #DFDFDF 5%, #EDEDED 100%);
    background: -webkit-linear-gradient(top, #DFDFDF 5%, #EDEDED 100%);
    background: -ms-linear-gradient(top, #DFDFDF 5%, #EDEDED 100%);
    background: linear-gradient(to bottom, #DFDFDF 5%, #EDEDED 100%);
}

.dialog .dialog-buttons input:active {
    position: relative;
    top: 1px;
}

.dialog-modal {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.draggable {
    cursor: move;
}